p {
    background-color: rgb(225, 251, 249);
    padding: 20px;
    border-radius: 5px;
    width: 933.75px;
    margin: 20px;
    font-size: 30px;
    color: rgb(45, 189, 177);
    font-family: 'Oxygen', sans-serif;
}